@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --mainGray: #1A1A1A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}
#app-container{
    display: flex;
    height: 100%;
    width: 100%;
}

.todo-container{
    position: relative;
    display: flex;
}


.border{
    border: #717171 solid 1px;
    border-radius: 5px;
    
    width: 95%;
}

.text-md-italic{
    font-style: italic;
    font-size: 1.8rem;
}


.thin{
    font-weight: 200;
}
.bold{
    font-weight: 500;
}