#task-add {
    display: flex;
    justify-content: center;
    align-items: center;


    width: 95%;
    height: 101px;

    border: #1A1A1A solid 2px;

    border-top-left-radius: 21px;
    border-bottom-right-radius: 21px;
    cursor: pointer;
}

/* Priority Styles */

.priority{
    padding: 0.4rem 0.8rem;
    width: 94px;
    height: 25px;
    border: none;
    border-radius: 2px;

    font-weight: 800;
    font-size: 1.6rem;
    
    color: #FFFFFF;

    cursor: pointer;
}

.priority:hover{
    filter: brightness(0.9);
}
.wrapper-priorities{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    gap: 10px;
}

.priority-high{
    background-color: #D76161;

}
.priority-medium{
    background-color: #A49146;
}

.priority-low{
    background-color: #2A6392;

}