#task-add {
    display: flex;
    justify-content: center;
    align-items: center;


    width: 95%;
    height: 101px;

    border: #1A1A1A solid 2px;

    border-top-left-radius: 21px;
    border-bottom-right-radius: 21px;
    cursor: pointer;
}

/* Priority Styles */

.priority{
    padding: 0.4rem 0.8rem;
}
.wrapper-priorities{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.priority-high{

}
.priority-medium{

}

.priority-low{
    
}